.top-nav
    .top-nav-content
        .top-nav-logo
            a(href='/')
                span #{'ТОВ "Блакитна затока"'}
        if (req.isAuthenticated())
            .top-nav-menu
                ul

            .top-nav-dropdown.profile-dropdown-list
                .top-nav-dropdown-content

            .top-nav-dropdown-overall
        else
            .top-nav-menuвійти